<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Schnitzel.com</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav me-auto mb-4 mb-lg-0 navbar-expand-lg">
        </ul>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex" role="search">
                <input [(ngModel)]="keyword" name="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button (click)="search()" class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="main">
    <h1>The Bookshelf System</h1>

    <p>
        <router-outlet></router-outlet>
    </p>

    <p>
        © 2022, Schnitzel.com, Inc. or its affiliates
    </p>
</div>