:host {

}

#author-dialog-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: absolute;
    top: 10em;
    left: 10em;
    height: 350px;
    width: 600px;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.27);
    border: 3px solid #262626;
    border-radius: 11px;
    grid-template-rows: repeat(1fr, 3);
}

#modal-title {
    font-size: 22px;
}

#modal-footer {
    justify-self: right;
    align-self: center;
}

#modal-action-button {
    margin-right: 30px;
    background-color:#3b3b3b;
}

#modal-cancel-button {
    background-color: #4e4e4e;
}