<h5>Add a new book</h5>

<div *ngIf="lastError" class="alert alert-danger d-flex align-items-center" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" style="width: 16px; height: 16px" viewBox="0 0 16 16" role="img" aria-label="Error:">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </svg>
    <strong>Error!</strong>&nbsp;{{lastError}}
</div>

<div class="container" style="padding: 3mm 0 6mm 0">
    <div class="row" style="padding: 1mm 0 1mm 0">
        <div class="column col-sm-2" style="text-align: right">Name:*</div>
        <div class="column col-sm-10">
            <input [(ngModel)]="book.name" type="text" name="name" #name="ngModel" autofocus required minlength="4"/>
            <div *ngIf="name.invalid && (name.dirty || name.touched)" style="color: red;">
                <div *ngIf="name.errors?.['required']">
                    Book name is required
                </div>
                <div *ngIf="name.errors?.['minlength']">
                    Book name must be at least 4 characters long
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding: 1mm 0 1mm 0">
        <div class="column col-sm-2" style="text-align: right">ISBN:*</div>
        <div class="column col-sm-10">
            <input [(ngModel)]="book.isbn" type="text" name="isbn" #isbn="ngModel" required pattern="{{this.isbnRegex}}"/>
            <div *ngIf="isbn.invalid && (isbn.dirty || isbn.touched)" style="color: red;">
                <div *ngIf="isbn.errors?.['required']">
                    ISBN number is required
                </div>
                <div *ngIf="isbn.errors?.['pattern']">
                    ISBN number has an invalid format (it must be ISBN-10 or ISBN-13)
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding: 1mm 0 1mm 0">
        <div class="column col-sm-2" style="text-align: right">Annotation:*</div>
        <div class="column col-sm-10">
            <textarea [(ngModel)]="book.annotation" name="annotation" #annotation="ngModel" rows="4" cols="50" required minlength="160">

            </textarea>
            <div *ngIf="annotation.invalid && (annotation.dirty || annotation.touched)" style="color: red;">
                <div *ngIf="annotation.errors?.['required']">
                    Book annotation is required
                </div>
                <div *ngIf="annotation.errors?.['minlength']">
                    Book annotation must be at least 160 characters long
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding: 1mm 0 1mm 0">
    </div>
    <div class="row" style="padding: 1mm 0 1mm 0">
        <div class="column col-sm-2" style="text-align: right">Authors:</div>
        <div class="column col-sm-10">
            <select [(ngModel)]="selectedAuthor" name="authors" size="5" width>
                <option *ngFor="let author of book.authors" [ngValue]="author">{{author|authorPipe}}</option>
            </select>
            <div style="padding: 3mm 0 1mm 0">
                <button type="button" class="btn btn-primary" (click)="addAuthor()">Add author</button>&nbsp;
                <button type="button" class="btn btn-secondary" (click)="removeAuthor()">Remove author</button>
            </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary" (click)="addBook()">Add</button>&nbsp;
<button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>